In [1]:
import time
from kafka import KafkaConsumer
import json
from kafka import KafkaProducer
from river import metrics
import datetime
from river import naive_bayes
from river import stream

In [ ]:

topic_name = "cac40"
consumer = KafkaConsumer(topic_name, bootstrap_servers="localhost:9092",value_deserializer=lambda x: json.loads(x.decode('utf-8')))

x=0
for msg in consumer:
    msg = json.loads(msg.value)
    print(Formatage(msg))

                         Date     Price       max       min
0  2023-01-12 20:05:08.638106  11563.25  11563.25  11563.25
1  2023-01-12 20:05:09.549640  11563.25  11563.25  11563.25
2  2023-01-12 20:05:10.314862   11562.5  11563.25  11563.25
                         Date    Price      max      min
0  2023-01-12 20:05:11.585838  11562.5  11562.5  11562.5
1  2023-01-12 20:05:12.343706    11561  11562.5  11562.5
2  2023-01-12 20:05:13.240798    11561  11562.5  11562.5
                         Date     Price       max       min
0  2023-01-12 20:05:13.956310  11560.75  11560.75  11560.75
1  2023-01-12 20:05:14.761543  11560.75  11560.75  11560.75
2  2023-01-12 20:05:15.669032  11560.75  11560.75  11560.75

In [50]:
import pandas as pd
def Formatage(dictionnaire):  
    date = [x for x in msg]
    price = [x for x in msg.values()]
    maximum = max(price)
    minimum = min(price)

    df = pd.DataFrame({'Date':date ,'Price':price})
    df.insert(2, "max", maximum, allow_duplicates=False)
    df.insert(3, "min", maximum, allow_duplicates=False)
    return df

                         Date     Price    max    min
0  2023-01-12 19:46:08.826703  11505.25  11506  11506
1  2023-01-12 19:46:10.110761  11505.25  11506  11506
2  2023-01-12 19:46:11.269862     11506  11506  11506

In [36]:
msg

{'2023-01-12 19:46:08.826703': '11505.25',
 '2023-01-12 19:46:10.110761': '11505.25',
 '2023-01-12 19:46:11.269862': '11506'}

In [41]:

df

                         Date     Price
0  2023-01-12 19:46:08.826703  11505.25
1  2023-01-12 19:46:10.110761  11505.25
2  2023-01-12 19:46:11.269862     11506

In [26]:
import datetime
print(datetime.date.fromtimestamp(int(x)))

2023-01-10

In [33]:
from river import naive_bayes
from river import stream

model = naive_bayes.GaussianNB()
compteur =0 
acc = metrics.Accuracy()
for x, y in stream.iter_pandas(X=X_train, y=Y_train):
    compteur +=1
    y =  utils.dict2numpy(y)[0]
    if compteur < 300:
        model.learn_one(x, y)
    else : 
        y_pred = model.predict_one(x) 
        acc.update(y_true=y, y_pred=y_pred)
        model.learn_one(x, y)

print(acc)

NameError: name 'metrics' is not defined